extends layout-common

block content-common
  div(ng-init='redirect="#{redirect}"')
    div(ng-controller='loginCtrl')
      h1= lang.section
      .well(ng-hide=
      'data.errorShow') #{lang.already} <a href='/register'>#{lang.registerHere}</a>

      form.form-horizontal.css-form(name='form' novalidate ng-cloak)
        div.alert.alert-danger(ng-show='data.errorShow') #{lang.error}: {{data.error}}
        div.text-danger(ng-show='data.userNotValid') #{lang.userNotValid}

        .form-group(ng-class='((form.userName.$touched || form.$submitted) ' +
        '&& form.userName.$invalid) ? "has-error has-feedback" : "has-feedback"')
          label.control-label.col-sm-1(for='userName') #{lang.userName}:
          .col-sm-2
            input.form-control(type='text' id='userName' name='userName'
            placeholder='#{lang.userNameEnter}' ng-model="register.userName"
            required ng-minlength='3' ng-maxlength='20')
            div(ng-show="form.userName.$valid")
              .glyphicon.glyphicon-ok.form-control-feedback
            div(ng-show="form.$submitted || form.userName.$touched")
              .text-danger(ng-show="form.userName.$error.required") #{lang.userNameRequired}
              .glyphicon.glyphicon-warning-sign.form-control-feedback(
              ng-show="form.userName.$error.required")
              .text-danger(ng-show="form.userName.$error.minlength " +
              "|| form.userName.$error.maxlength") #{lang.fieldSizeCheck}
              .glyphicon.glyphicon-warning-sign.form-control-feedback(
              ng-show="form.userName.$error.minlength || form.userName.$error.maxlength")

        .form-group(ng-class='((form.pwd.$touched || form.$submitted) ' +
        '&& form.pwd.$invalid) ? "has-error has-feedback" : "has-feedback"')
          label.control-label.col-sm-1(for='pwd') #{lang.password}:
          .col-sm-2
            input.form-control(type='password' id='pwd' name='pwd'
            placeholder='#{lang.passwordEnter}' ng-model="register.password"
            required ng-minlength='3' ng-maxlength='20')
            div(ng-show="form.pwd.$valid")
              .glyphicon.glyphicon-ok.form-control-feedback
            div(ng-show="form.$submitted || form.pwd.$touched")
              .text-danger(ng-show="form.pwd.$error.required") #{lang.passwordRequired}
              .glyphicon.glyphicon-warning-sign.form-control-feedback(
              ng-show="form.pwd.$error.required")
              .text-danger(ng-show="form.pwd.$error.minlength " +
              "|| form.pwd.$error.maxlength") #{lang.fieldSizeCheck}
              .glyphicon.glyphicon-warning-sign.form-control-feedback(
              ng-show="form.pwd.$error.minlength || form.pwd.$error.maxlength")

        button.btn.btn-info(type='submit'
        ng-click='form.$valid && submit(register)') #{lang.submit}
